html {
  height: 100%;
}

body {
  height: 100%;
  background-color: #100e17;
  color: #fff;
  font-family: nunito, sans-serif;
  font-size: 10px;
}

.screen-outter {
  width: 100%;
  height: 100%;
  padding: 10px;
  display: table;
}
.screen-inner {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

/* Animation - Inicio */
.name {
  width: 8em;
  margin: 0 auto;
  border-right: 2px solid rgba(255,255,255,.75);
  font-size: 2.5rem;
  white-space: nowrap;
  overflow: hidden;
}

.typewriter {
  animation: typewriter 4s steps(44) 1s 1 normal both,
             blinkTextCursor 500ms steps(44) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 8em;
  }
}

@keyframes blinkTextCursor {
  from {
    border-right-color: rgba(255,255,255,.75);
  }
  to {
    border-right-color: transparent;
  }
}

/* Animation - Fim */

.social-media {
  margin-top: 10px;
}

.fa-animation {
  padding: 10px;
  -webkit-animation: faAnimation 200ms 10;
  animation: faAnimation 200ms 10;
  color: #fff;
}

.fa-animation:hover {
  -webkit-animation: faAnimation 200ms infinite;
  animation: faAnimation 200ms infinite;
  cursor: pointer;
}

@keyframes faAnimation {
  0% {
    text-shadow: 5px 4px #f44336, -5px -6px #2196f3;
  }
  25% {
    text-shadow: -5px -6px #f44336, 5px 4px #2196f3;
  }
  50% {
    text-shadow: 5px -4px #f44336, -8px 4px #2196f3;
  }
  75% {
    text-shadow: -8px -4px #f44336, -5px -4px #2196f3;
  }
  100% {
    text-shadow: -5px 0 #f44336, 5px -4px #2196f3;
  }
}
